body {
    background-color: hsl(42deg 93% 62%);
}
header {
    text-align: center;
}
header h1 {
    font-size: 3.5em;
    font-family: 'Mitr', sans-serif;
    margin-bottom: 0;
}
header p {
    margin-top: 0;
    font-size: 1.5em;
    font-family: 'Pacifico', cursive;
}

section {
    padding-top: 5em;
    display: grid;
}
section:first-child section {
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
}
section:nth-of-type(2) article:nth-child(2) section {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
}
section:first-child section article h3, section:nth-of-type(2) article:nth-child(2) section article h3 {
    font-size: 1.3em;
    font-family: 'Mitr', sans-serif;
    margin-bottom: 0;
}
section:first-child section article div, section:nth-of-type(2) article:nth-child(2) section article div {
    font-size: 1.3em;
    font-family: 'Pacifico', cursive;
}
section:first-child header, section:nth-of-type(2) article:nth-child(2) header {
    position: relative;
    display: flex;
    justify-content: center;
    width: 11em;
    height: 4em;
    justify-self: center;
    background-color: rgb(41, 40, 40);
    border: 0.1px solid hsl(42deg 93% 62%);
}

section:first-child header::after, 
section:first-child header::before,
section:nth-of-type(2) article:nth-child(2) header::after,
section:nth-of-type(2) article:nth-child(2) header::before {
    content: "";
    position: absolute;
    width: 3.5em;
    height: 2.9em;
    bottom:-.6em;
    background-image: 
    linear-gradient(to left top, transparent 50%, rgb(41, 40, 40) 50%),
    linear-gradient(to left bottom, transparent 50%, rgb(41, 40, 40) 50%);
    z-index: -1;
}

section:first-child header::after,
section:nth-of-type(2) article:nth-child(2) header::after {
    right:-2.7em;
    transform: translatez(-1em);
}

section:first-child header::before,
section:nth-of-type(2) article:nth-child(2) header::before {
    left:-2.7em;
    transform: scalex(-1) translatez(-1em);
}

section:first-child h2,
section:nth-of-type(2) article:nth-child(2) header h2 {
    align-self: center;
    font-size: 2em;
    color: hsl(42deg 93% 62%);
    font-family: 'Mitr', sans-serif;
}  
section:nth-of-type(2) {
    position: relative;
    grid-template-columns: 1fr 1fr;
}

section:nth-of-type(2) article:nth-child(2) {
    display: grid;
}
section:nth-of-type(2) article:nth-child(2) div {
    position: relative;
    display: flex;
    justify-content: center;
}
section:nth-of-type(2) div:nth-child(3) {
    padding-top: 4em;
}
section:nth-of-type(2) article:nth-child(2) div:nth-of-type(1) svg g g:nth-of-type(1) {
    transform: translate(20%, 190%);
    animation: smoke 5s linear .5s infinite;
    opacity: 0;
}
section:nth-of-type(2) article:nth-child(2) div:nth-of-type(1) svg g g:nth-of-type(2) {
    transform: translate(57%, 179%);
    animation: smoke-2 4s linear .6s infinite;
    opacity: 0;
}
section:nth-of-type(2) article:nth-child(2) div:nth-of-type(1) svg g g:nth-of-type(3) {
    transform: translate(2%, 22%);
    animation: smoke-3 5s linear 1.2s infinite;
    opacity: 0;
}

@keyframes smoke {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 50%;
    }
    100% {
        transform: translate(20%, 120%);
        opacity: 0;
    }
}
@keyframes smoke-2 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 50%;
    }
    100% {
        transform: translate(57%, 134%);
        opacity: 0;
    }
}
@keyframes smoke-3 {
    0% {
        opacity: 0;
    }
    35% {
        opacity: 50%;
    }
    100% {
        transform: translate(2%, -60%);
        opacity: 0;
    }
}